{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}پورتفولیو{% endblock %}</title>
    <link href="{% static 'dist/css/output.css' %}" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans">

    {% include 'components/_header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/_footer.html' %}

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>
</html>